<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Who Came First?</title>
</head>
<body>
    <div class="container">
        <h1 class="title">Guess Who Was Born First!</h1>
        <div class="person1">
            <p>{{person1.name}}</p>
            <p>{{person1.occupation}}</p>
        </div>
        <div class="person2">
            <p>{{person2.name}}</p>
            <p>{{person2.occupation}}</p>
        </div>
    </div>
</body>
</html>