{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Who Came First?</title>
    <link rel="stylesheet" href="{% static "styles.css"%}">
</head>
<body>
    <div class="container">
        <h1 class="title">Guess Who Was Born First!</h1>
        <div class="person">
            <p>{{person1.name}}</p>
            <p>{{person1.occupation}}</p>
            {% if not response %}
                <form action="{% url 'check-answer' %}" method="post">
                    {% csrf_token %}
                    <input type="hidden" name="person_id" value="{{ person1.id }}">
                    <button type="submit" class="generate-btn">Guess Figure 1</button>
                </form>
            {% endif %}
        </div>
        <div class="person">
            <p>{{person2.name}}</p>
            <p>{{person2.occupation}}</p>
            {% if not response %}
                <form action="{% url 'check-answer' %}" method="post">
                    {% csrf_token %}
                    <input type="hidden" name="person_id" value="{{ person2.id }}">
                    <button type="submit" class="generate-btn">Guess Figure 2</button>
                </form>
            {% endif %}
        </div>
        {% if response %}
            <div class="results-container">
                <p>{{ response }}</p>
                <p class="results-text"><a href="{{person1_wikipedia}}" target="_blank">{{person1.name}}</a>  was born in {{person1.birthyear}}. <a href="{{person2_wikipedia}}" target="_blank">{{person2.name}}</a>  was born in {{person2.birthyear}}.</p>
                <form action="{% url 'index' %}" method="post">
                    {% csrf_token %}
                    <button type="submit" class="generate-btn">Play Again</button>
                </form>
            </div>
        {% endif %}
    </div>
</body>
</html>